.dummy-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    border: 4px solid #616161;
}

.clock::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 50%;
    z-index: 10;
}

.sec-hand{
    width: 1px;
    height: 50%;
    background: red;
    position: absolute;
    transform-origin: 50% 80%;
    top: 10%;
    left: 50%;
    border-radius: 100% 100% 0 0;
}

.min-hand{
    width: 2px;
    height: 50%;
    background: #333;
    position: absolute;
    transform-origin: 50% 80%;
    top: 10%;
    left: calc(50% - 1px);
    border-radius: 100% 100% 0 0;
}

.hour-hand{
    width: 5px;
    height: 40%;
    background: #333;
    transform-origin: 50% 80%;
    position: absolute;
    top: 18%;
    left: calc(50% - 3px);
    border-radius: 100% 100% 0 0;
}

.num{
    height: 100%;
    position: absolute;
    left: calc(50% - 7px);

    div{
        width: 1em;
        line-height: 2em;
        color: gray;
        text-align: center;
        vertical-align: middle;
    }
}

.num1{
    transform: rotate(30deg);
}

.num2{
    transform: rotate(60deg);
}

.num3{
    transform: rotate(90deg);
}

.num4{
    transform: rotate(120deg);
}

.num5{
    transform: rotate(150deg);
}

.num6{
    transform: rotate(180deg);
}

.num7{
    transform: rotate(210deg);
}

.num8{
    transform: rotate(240deg);
}

.num9{
    transform: rotate(270deg);
}

.num10{
    transform: rotate(300deg);
}

.num11{
    transform: rotate(330deg);
}

.num12{
    transform: rotate(360deg);
}



